.nsewdrag drag cursor-ew-resize {
    cursor: pointer;
}

.drag {
    cursor: pointer;
}

.cursor-ew-resize {
    cursor: pointer;
}

#modebar-b82b27 {
    color: black
}

.TETSTTSTSTS {
    cursor: pointer
}

.js-plotly-plot .plotly .cursor-ew-resize {
    cursor: pointer;
}

